ecomnav, .nav-items ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: teal;
  list-style-type: none;
  }
  
  .nav-items li {
    margin: 0 10px;
  }